.maindivbox4{
    display: block;
}
.woman-in-brown-jacket-and-black-shirt-3484683 {
  width: 6.099rem;
  height: 6.099rem;
  margin: 0 auto;
  }
  .woman{
    margin: 0rem 11px;
    padding: 0px 0px;
    border-radius: 5rem;
    height: 5rem;
    width: 5rem;
  }
  .Jane-Doe {
    width: 6.563rem;
    height: 2.188rem;
    margin: 0 auto;
    font-family: LibreBaskerville;
    font-size: 1.625rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    color: #374b5c;
  }
  .Thank-you-for-all-the-amazing-produce-and-products-you-deliver-each-week-you-make-my-life-so-easy-an-bring-goodness-into-our-family-eating-Ive-been-roasting-a-lot-of-brussel-sprouts-and {
    width: 33.875rem;
    height: 6.313rem;
    margin: 0px auto;
    font-family: LibreBaskerville;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #374b5c;
  }
  .Subscribe-to-Our-Newsletter {
    width: 25.938rem;
    height: 3rem;
    margin: auto;
    margin-top: 120px;
    font-size: 2.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #374b5c;
  }
  
  .Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua3 {
    width: 35.5rem;
    height: 2.625rem;
    margin: 0rem auto;
    font-family: LibreBaskerville;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #374b5c;
  }